<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-card *ngFor="let reservacion of misReservaciones">
 
  <div *ngFor="let viaje of viajes "  class="border" >
      <div *ngIf="reservacion.idViaje == viaje.idViaje" >
        {{viaje.idViaje}}{{reservacion.idViaje}}{{viaje.idEstado}}
        <div >
          <p>DESTINO: <span><b>{{viaje.destino | viajes:lugares}}</b></span></p>
          <p>ORIGEN: <span><b>{{viaje.origen | viajes:lugares}}</b></span></p>
          <p>FECHA DE PARTIDA: <span><b>{{viaje.fechaPartida | date: 'dd/MM/yyyy'}}</b></span></p>
          <p>FECHA FINALIZACION: <span><b>{{viaje.fechaRegreso | date:'dd/MM/yyyy'}}</b></span></p>
          <p>DESCRIPCION: <span><b>{{viaje.descripcion}}</b></span></p>
          <p>CANTIDAD CONFIRMADA <span>{{reservacion.cantidadPasajeros}}</span></p>
        </div>
        </div>
        <p >Escribe un comentario de tu viaje por favor</p>
    </div>
  
  
  
</ion-card>
</ion-content>
