
<ion-app>
  <ion-content class="ion-padding">
    <ion-grid class="ion-text-center" *ngIf="!registrar">
      <ion-row class="ion-justify-content-center ion-align-items-center">
  
        <ion-col size-md="6" size-lg="4">
          <div class="rounded p-3">
            <ion-list>
              <ion-card-header class="custom-header">
                <ion-card-title class="custom-title">GUATE-RESERVACIONES</ion-card-title>
                <ion-card-subtitle class="custom-title">Reservar nunca fue tan fácil</ion-card-subtitle>
              </ion-card-header>
              <p>¡Hola! 😃 Bienvenido!</p>
  
              <ion-card-content class="ion-text-center">
                <p>Para poder reservar, debes iniciar sesión o registrarte.</p>
                <ion-item>
                  <ion-label position="floating">Correo</ion-label>
                  <ion-input type="text" [(ngModel)]="usuario.correo"></ion-input>
                </ion-item>
  
                <ion-item>
                  <ion-label position="floating">Contraseña</ion-label>
                  <ion-input type="password" [(ngModel)]="usuario.password"></ion-input>
                </ion-item>
  
                <ion-button shape="round" color="secondary" class="mt-3" (click)="ingresar(usuario)">Ingresar</ion-button>
                <ion-button shape="round" color="secondary" class="mt-2" (click)="registrarse()">Registrarse</ion-button>
              </ion-card-content>
            </ion-list>
          </div>
        </ion-col>
  
      </ion-row>
    </ion-grid>
    <ion-alert
    [isOpen]="isAlertOpen"
    trigger="present-alert"
    header="Error"
    subHeader="Password o correo incorrectos"
    message="Por favor, verifica tus credenciales."
    [buttons]="alertButtons"
    (didDismiss)="setOpen(false)"
  ></ion-alert>
  <ion-card *ngIf="registrar">
    <ion-card-header>
      <ion-card-title>Registrarse</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Correo</ion-label>
        <ion-input type="text" [(ngModel)]="usuario.correo"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Nombre de usuario</ion-label>
        <ion-input type="text" [(ngModel)]="usuario.nombre"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="usuario.password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Confirmar contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="confirmarPassword"></ion-input>
      </ion-item>

      <ion-button shape="round" color="secondary" class="mt-3" (click)="crearCuenta(usuario)">Registrarse</ion-button>
      <ion-button shape="round" color="secondary" class="mt-3" (click)="cancelar()">Cancelar</ion-button>

     </ion-card-content>
  </ion-card>
  </ion-content>
  
  <ion-router-outlet *ngIf="sesionIniciada"></ion-router-outlet>
</ion-app>
